.menu {
	display: block;
	padding-top: 26px;
	padding-right: 26px;
	padding-left: 26px;
	padding-bottom: 26px;
}

.profile {
	background-color: #ffffff;
	padding-bottom: 12px;
}

.profile2 {
	background-color: #5AD8BA;
	height: 42px;
	margin-bottom: 12px;
}

.works {
	background-color: white;
	padding-bottom: 32px;
	height:600px;
}

.contact {
	background-image: url('images/contact-bg.jpg');
}
.cneterb {
	background-color: #FFD42A;
	height:170px;
}

.main {
	background-image:url(../images/background-box.jpg);
}

.btn1 {
	background-color : #0cd7f2;
	/*border-radius : 50px;*/
	color: #FFFFFF;
	text-align:center;
	margin-right: 32px;
	padding-top: 12px;
	padding-right: 32x;
	padding-left: 32px;
	padding-bottom: 12px;
	width:200px;
}

@media screen and (max-width: 767px) {
	.btn1,.btn-lg{
		font-size:12px;
		font-weight: 400;
		margin-bottom: 8px;
		margin-right:4px;
		padding-left:6px;
		/*border-radius:6px;*/
		width:30%
	}
}

.btn2 {
	background-color:#f25d4d;
	color:#FFFFFF;
	width:300px;
	height:80px;
	/*border-radius:20px;*/
	border:none;
	}

@media screen and (max-width: 767px) {
	.btn2,.bgbt{
	font-size: 22px;
	/*border-radius: 6px;*/
	width: 80%;
	}
}

.mr {
	padding-bottom: 32px;
	background-color: #ffffff;

}
.pr {
	margin-bottom:62px;
}
.tagb {
	background-color: #ffffff;
	padding-bottom: 32px;
}
.bgbt {
	font-size: 32px;
}
@media screen and (min-width:767px){

}
.fade-in { opacity: 0.5;
}
 
a img {
 transition: opacity 0.3s ease-out;
}

.panel2 {
  margin-bottom: 20px;
  background-color: #fff;
}
#works {
	background-color:#ffffff;
}
#info {
	padding-bottom:68px;
}

.form-horizontal {
	width:76%;
}

.footer {
	width:100%;
	background-color:#F67373;
}

.white {
	background-color:#ffffff;
}
.shadow {
	background-color: #5AD8BA;
	padding-bottom: 24px;
}

.ft2{
  color:#ffffff;
  background-color: #153a78;
}

@media screen and (min-width: 1026px){
.profile{
  background-color: #fff;
}

.gallery{
  background-color: white;
}
}

.sec{
  text-align: justify;
  padding: 100px;
}

/*reCAPTCHA*/
.g-recaptcha > div{
  margin:24px auto;
}

/*back-ground*/
header{
  background-image:url('../images/top-bg.jpg');
  background-attachment: fixed;
}

/*menu*/
.menu-c{
  color:white;
  padding-right: 4em;
  font-size:18px;
}

/*decoration*/
.water{
	background-image url('images/water-bg.jpg')
	width 100%
	height 300px
	background-position-y -300px
}
